body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.deck-tooltip {
  font-size: 12px;
  background-color: transparent !important;
  /* font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  padding: 4px;
  margin: 8px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  max-width: 300px;
  font-size: 12px;
  z-index: 9;
  pointer-events: none; */
}

#control-panel {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  /* background: #fff; */
  /* background: #222; */
  top: 0;
  left: 0;
  margin: 12px;
  padding: 20px;
  z-index: 1;
}

body.bootstrap-dark #control-panel {
   background: #191d21;
}

body.bootstrap #control-panel {
  background: #fff;
}


/* poor man boostrap */
.form-check-inline {
  display: inline;
}

.day-button {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

#current-day {
  text-align: center;
}

#collapseAdvanced {
  width: 384px;
  max-width: 384px;
}